@model Deals4All.Models.Merchant

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Details</h2>

<div>
    <h4>Merchant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MerchantFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchantFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MerchantLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchantLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MerchantEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchantEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MerchantMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchantMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MerchantPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchantPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessCountry)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MerchantID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
