
@{
    ViewBag.Title = "CustomerDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>-->
<link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />

<h2>CustomerDashboard</h2>


<div class="container">

    <div class="logo col-sm-12 text-center col-md-12 ">
        <img alt="" src="~/Images/dotnetsai.png" />
    </div>
    <div class="clearfix"></div>
    <fieldset>

        <legend>User Dashboard</legend>

        <div class="panel">

            <div class="panel-body">


                <div class="col-md-3  dashboard-icon col-sm-3">
                    <span class="glyphicon glyphicon-user"></span>
                    @Html.ActionLink("View Profile ", "Details", "Customers")
                </div>
                <div class="col-md-3  dashboard-icon col-sm-3">
                    <span class="glyphicon glyphicon-list"></span>
                    @Html.ActionLink("Edit Profile ", "Edit", "Customers")
                </div>
                <div class="col-md-3  dashboard-icon col-sm-3">
                    <span class="glyphicon glyphicon-calendar"></span>
                    @Html.ActionLink("Redeemed Coupons", "Redeemed", "Coupons")
                </div>
                <div class="col-md-3  dashboard-icon col-sm-3">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    @Html.ActionLink("List All Coupon ", "Index", "Coupons")
                </div>
                <div class="col-md-3  dashboard-icon col-sm-3">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    @Html.ActionLink("Reports ", "Index", "Reports")
                </div>
            </div>
        </div>
    </fieldset>

</div>


